@media screen and (min-width: 320px) {

    @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx)

}

@media screen and (min-width: 575px) {

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    
    .container {
        max-width: 573px;
        width: 100%;
        padding: 30px 32px;
    }

    .logo-link {
        font-size: 30px;
    }

    .header-menu-btn {
        max-width: 39px;
        max-height: 39px;
    }

    .header-menu-icon {
        width: 19px;
        height: 19px;
    }

    .header-menu-list {
        margin-bottom: 80px;
    }

    .footer-line.menu-line {
        margin-bottom: 35px;
        margin-top: 44px;
    }

    .menu-link {
        font-size: 24px;
        line-height: 2.71;
        color: var(--color-button);
    }

    .header-menu-button {
        font-size: 22px;
        max-width: 330px;
        height: 70px;
    }
}
}


@media screen and (min-width: 768px) {
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx)

        {
        .container {
            max-width: 766px;
            width: 100%;
            padding: 30px 40px 30px 30px;
            margin: 0 auto;
        }

        .section-hero-container {
            display: flex;
            flex-direction: row-reverse;
            gap: 22px;
        }

        .section-hero-img {
            min-width: 352px;
        }

        .section-hero-title {
            font-size: 36px;
            line-height: 1.25;
            text-align: left;
            margin-top: 0px;
            padding-top: 28px;
            margin-bottom: 20px;
        }

        .section-hero-txt {
            font-size: 16px;
            text-align: left;
        }
        
        .section-hero-button {
            width: 100%;
            max-width: 236px;
            height: 65px;
            font-size: 18px;
            font-weight: 400;
            display: inline-block;
        }

/**SKILLS**/

        .skills-list {
            display: flex;
            gap: 8px;
            flex-wrap: wrap;
            position: relative;
        }

        .speaking {
            max-width: 224px;
            min-height: 662px;
            padding-top: 31px;
        }

        .section-skills-main-title {
            font-size: 30px;
            line-height: 2.67;
            margin-bottom: 37px;
        }

        .section-skills-title {
            padding-top: 0;
            margin-top: 0;
            font-size: 20px;
            line-height: 4;
            padding-left: 17px;
        }

        .speaking>.section-skills-title {
            margin-top: 2px;
        }
        
        .skills-item {
            margin-bottom: 0;
        }

        .speaking>.btn {
            margin-bottom: 37px;
            margin-top: 26px;
        }

        .skills-item .listening {
            display: flex;
        }

        .listening {
            min-height: 210px;
            display: flex;
            flex-direction: row-reverse;
            padding-top: 0;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: var(--color-background);
            border-radius: 5px;
            max-width: 461px;
            transform: translate(-2px, 0px);
        }
        
        .skills-container-listening-title>.section-skills-title {
            line-height: 3;
            padding-top: 0px;
        }

        .section-skills-button {
            padding: 14px 42px;
            font-size: 16px;
            margin-left: 17px;
            margin-bottom: 27px;
            margin-top: 18px;
        }

        .writing {
            max-width: 226px;
            max-height: 441px;
            padding-top: 16px;
        }

        .reading {
            max-width: 227px;
            padding-top: 34px;
            max-height: 441px;
        }

        .section-skills-txt {
            font-size: 13px;
            padding: 0 16px;
        }

        .writing>.section-skills-title {
            margin-top: -28px;
            line-height: 3;
        }

        .writing>.section-skills-img {
            max-width: 200px;
        }

        .writing>.btn {
            margin-top: 11px;
        }

        .reading>.btn {
            margin-top: 13px;
        }

        .reading>.section-skills-title {
            line-height: 3;
        }

        .listen-txt {
            margin-top: -6px;
            margin-bottom: 6px;
            padding-right: 0;
            min-width: 228px;
        }

        .podcast {
            padding-top: 59px;
            min-width: 196px;
            padding-bottom: 17px;
        }

        .button-listening {
            margin-top: 0;
            margin-left: 13px;
        }

/**ABOUT US**/

        .about-us-container {
            position: relative;
            display: flex;
            flex-wrap: wrap;
        }

        .section-about-us-img {
            max-width: 295px;
            position: absolute;
            top: 0;
            right: 0;    
            margin-bottom: 0px;
            transform: translateY(12%);
        }

        .section-about-us-title {
            width: 100%;
            font-size: 30px;
            line-height: 2.67;
            text-align: left;
            margin-bottom: 0px;
        }
        
        .section-about-us-text {
            text-align: left;
            font-size: 13px;
            max-width: 321px;
            margin-bottom: 0px;
        }
        
        .section-about-us-number {
            margin-top: 0px;
            font-size: 22px;
            line-height: 3.64;
            margin-bottom: 0px;
        }
        
        .section-about-us-txt {
            font-size: 13px;
        }

        .about-us-list {
            display: flex;
            gap: 50px;
            padding-left: 8px;
        }

/**PRICING**/

        .section-pricing-main-title {
            font-size: 30px;
            line-height: 2.67;
            margin-bottom: 31px;
        }

        .pricing-list {
            display: flex;
            gap: 34px;
            max-height: 456px;
        }

        .pricing-item {
            width: calc((100% - 2*34px)/3);
        }

        .pricing-item:not(:last-child) {
            margin-bottom: 0px;
        }

        .section-pricing-img {
            max-height: 197px;
        }

        .section-pricing-title {
            font-size: 20px;
            line-height: 1.4;
            text-align: left;
            margin-top: 23px;
            margin-bottom: 15px;
        }

        .pricing-title {
            max-width: 112px;
        }

        .section-pricing-text {
            font-size: 14px;
            text-align: left;
            margin-bottom: 23px;
        }

        .section-pricing-button {
            max-width: 205px;
            min-height: 45px;
            margin: 0 0;
            padding: 10px 23px 11px 12px;
            font-size: 16px;
        }

        .section-pricing-button-price {
            font-size: 22px;
            margin-right: 12px;
        }

        .pricing-button {
            margin-top: 43px;
        }

/**CONTACT**/

        .contact-img {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translate(14%, -37%);
            max-width: 233px;
        }

        .section-contact {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .section-contact-title {
            text-align: left;
            font-size: 30px;
            line-height: 2.67;
            margin-bottom: 0;
            margin-left: 250px;
        }

        .section-contact-txt {
            text-align: left;
            margin-bottom: 26px;
            margin-left: 250px;
        }

        .section-contact-input {
            max-width: 283px;
            margin-left: 250px;
            margin-bottom: 81px;
        }

        .section-contact-button {
            max-width: 145px;
            min-height: 0px;
            max-height: 50px;
            margin: 0 0;
        }

        .footer-main-link {
            margin-bottom: 0;
        }

        .footer-container {
            display: flex;
            justify-content: space-between;
        }

        .footer-link {
            font-size: 13px;
            font-weight: 400;
        }

        .footer-line {
            margin-bottom: 18px;
        }
    }
}

@media screen and (min-width: 1600px) {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx)

    {
        .container {
            max-width: 1598px;
            width: 100%;
            padding: 90px 131px;
            margin: 0 auto;
        }

        .header {
            padding-top: 63px;
        }

        .header-svg {
            display: none;
        }

        .header-link {
            margin-right: 236px;
            font-size: 36px;
        }

        .header-list {
            gap: 50px;
            display: flex;
        }               

        .header-page-link {
            color: var(--color-button);
            font-family: Poppins, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .header-button {
            display: inline-block;
            background-color: var(--color-fading);
            color: var(--color-title);
            text-align: center;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.03em;
            border-radius: 10px;
            border: 2px solid var(--color-button);
            padding: 20px 56px;
            min-width: 312px;
            margin-left: 121px;
        }

/**HERO**/

        .section-hero-container {
            gap: 144px;
        }

        .section-hero-img {
            min-width: 654px;
        }

        .section-hero-title {
            font-size: 64px;
            line-height: 1.25;
            padding-top: 0px;
            margin-bottom: 40px;
        }

        .section-hero-txt {
            font-size: 24px;
            margin-bottom: 60px;
        }

        .section-hero-button {
            width: 100%;
            max-width: 426px;
            height: 100px;
            border-radius: 10px;
            font-size: 36px;
            letter-spacing: 0.03em;
        }
        
/**SKILLS**/

        .skills-list {
            gap: 30px;
        }

        .section-skills-main-title {
            font-size: 48px;
            line-height: normal;
            margin-bottom: 60px;
        }        
        
        .skills-item {
            padding: 32px 18px;
            border-radius: 10px;
        }

        .speaking {
            max-width: 426px;
        }

        .section-skills-title {
            font-size: 30px;
            line-height: normal;
            padding-left: 0px;
            margin-bottom: 20px;
        }

        .speaking>.section-skills-title {
            margin-top: 24px;
        }

        .section-skills-txt {
            font-size: 16px;
            padding: 0 33px 0 0;
        }

        .section-skills-button {
            border-radius: 10px;
            width: 230px;
            height: 60px;
            padding: 15px 51px;
            font-size: 20px;
            margin-left: 0px;
            margin-bottom: 32px;
            margin-top: 30px;
        }

        .speaking>.btn {
            margin-bottom: 122px;
        }

        .section-skills-img {
            min-width: 390px;
        }

        .writing {
            max-width: 426px;
            max-height: 579px;
        }

        .writing>.section-skills-title {
            margin-top: 24px;
            line-height: normal;
        }

        .writing>.section-skills-img {
            max-height: 264px;
            min-width: 264px;
            margin-right: 22px;
        }

        .writing>.btn {
            margin-top: 30px;
        }

        .reading {
            max-width: 424px;
            padding-top: 33px;
            max-height: 579px;
        }

        .reading>.section-skills-title {
            margin-top: 23px;
            line-height: normal;
        }

        .reading>.btn {
            margin-top: 30px;
        }

        .listening {
            max-height: 338px;
            min-width: 882px;
            border-radius: 10px;
        }
        
        .skills-container-listening-title>.section-skills-title {
            line-height: normal;
            padding-top: 0;
        }

        .listen {
            margin-top: 0;
            margin-bottom: 0;
            padding-right: 0;
            width: 324px;
            margin-right: 114px;
        }

        .podcast {
            padding-top: 0;
            min-width: 408px;
            padding-bottom: 0;
        }

        .button-listening {
            margin-top: 30px;
            margin-left: 0;
        }

/**ABOUT US**/

        .section-about-us-img {
            max-width: 540px;
            transform: translateY(0);
        }

        .section-about-us-title {
            width: 100%;
            font-size: 48px;
            line-height: normal;
            margin-bottom: 60px;
        }

        .section-about-us-text {
            font-size: 20px;
            line-height: 1.8;
            max-width: 652px;
            margin-bottom: 30px;
        }

        .section-about-us-number {
            font-size: 48px;
            line-height: normal;
        }

        .section-about-us-txt {
            font-size: 20px;
        }

        .txt {
            max-width: 108px;
            text-align: center;
        }

        .about-us-list {
            gap: 136px;
            padding-left: 36px;
        }

/**PRICING**/

        .section-pricing-main-title {
            font-size: 48px;
            line-height: normal;
            margin-bottom: 60px;
        }
            
        .pricing-list {
            gap: 30px;
            max-height: 640px;
        }
            
        .pricing-item {
            width: calc((100% - 2*30px)/3);
        }
            
        .section-pricing-img {
            min-height: 320px;
            max-width: 426px;
        }
            
        .pricing-img {
            margin-top: 0;
        }

        .section-pricing-title {
            font-size: 30px;
            line-height: 1.6;
            text-transform: capitalize;
            margin-top: 31px;
            margin-bottom: 20px;
        }

        .pricing-title {
            max-width: 383px;
        }

        .section-pricing-text {
            font-size: 20px;
            margin-bottom: 30px;
        }

        .section-pricing-button {
            max-width: 260px;
            padding: 11px 23px 7px 23px;
            font-size: 18px;
        }

        .section-pricing-button-price {
            font-size: 24px;
            margin-right: 21px;
        }

        .pricing-button {
            margin-top: 60px;
        }

/**CONTACT**/

       .contact-img {
            transform: translate(32%, 7%);
            max-width: 425px;
        }

        .section-contact-title {
            font-size: 48px;
            line-height: normal;
            margin-bottom: 60px;
            margin-left: 574px;
        }

        .section-contact-txt {
            font-size: 20px;
            margin-bottom: 30px;
            margin-left: 574px;
            max-width: 654px;
        }

        .section-contact-input {
            font-size: 16px;
            border-radius: 10px;
            max-width: 425px;
            min-height: 70px;
            margin-left: 574px;
            margin-bottom: 0;
            padding: 20px 30px;
        }

        .section-contact-button {
            max-width: 312px;
            max-height: 70px;
            border-radius: 10px;
            font-size: 20px;
            padding: 20px 56px;
        }
        
        .footer-line {
            margin-bottom: 31px;
        }

        .footer-list {
            gap: 80px;
            align-content: center;
        }

        .footer-link {
            font-size: 24px;
            letter-spacing: 0.02em;
        }

        .footer-link-dot {
            display: none;
        }
    }
}