:root {
    --color-title: #000000;
    --color-logo: #939393;
    --color-fading: #ffffff;
    --color-priority: #8F95A5;
    --color-button: #263238;
    --color-background: #F5F5F5;
    --color-shadow-button: #EEEEEE;
    --color-text-button: #546269;
    --color-line: #C4C4C4;
}

body {
    background-color: var(--color-fading);
    color: var(--color-priority);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    box-sizing: border-box;
    line-height: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
}

.container {
    max-width: 320px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    border-radius: 5px;
    background-color: var(--color-button);
    color: var(--color-fading);
    font-family: 'Poppins', sans-serif;
}

.header {
    padding-top: 36px;
    margin-bottom: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    color: var(--color-title);
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.header-span {
    color: var(--color-logo);
}

.header-svg {
    width: 33.53px;
    height: 19px;
}

.section-hero {
    margin-bottom: 59px;
}

.section-hero-title {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: var(--color-title);
    margin-top: 16px;
    margin-bottom: 20px;
}

.section-hero-txt {
    font-size: 14px;
    text-align: center;
    margin-bottom: 33px;
}

.section-hero-button {
    min-width: 289px;
    height: 60px;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    display: block;
}

.skills {
    margin-bottom: 50px;
}

.section-skills-main-title {
    color: var(--color-title);
    font-size: 24px;
    line-height: 3.33;
    text-align: center;
    margin-bottom: 32px;
}

.section-skills-container {
    background-color: var(--color-background);
    border-radius: 5px;
    margin-bottom: 21px;
    padding-top: 10px;
}

.section-skills-img {
    background-color: rgba(0, 0, 0, 0);
    min-width: 213px;
    margin: 0 auto;
}

.section-skills-title {
    color: var(--color-button);
    font-size: 18px;
    line-height: 4.44;
    padding-left: 13px;
    padding-top: 10px;
}

.section-skills-txt {
    padding: 0 16px;
}

.section-skills-button {
    width: 178px;
    height: 50px;
    padding: 14px 43px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 13px;
    margin-bottom: 45px;
    margin-top: 36px;
}

.writing {
    padding-top: 16px;
}

.reading {
    padding-top: 29px;
}

.listening {
    padding-top: 33px;
}

.section-about-us {
    margin-bottom: 84px;
}

.section-about-us-title {
    color: var(--color-title);
    font-size: 24px;
    line-height: 3.33;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 24px;
}

.section-about-us-img {
    margin-bottom: 23px;
}

.section-about-us-text {
    text-align: center;
    font-size: 13px;
    margin-bottom: 29px;
}

.section-about-us-number {
    margin-top: 8px;
    color: var(--color-title);
    font-weight: 600;
    font-size: 24px;
    line-height: 3.33;
    margin-bottom: -20px;
    text-align: center;
}

.section-about-us-txt {
    font-size: 15px;
    text-align: center;
    margin-bottom: 29px;
}

.section-pricing-main-title {
    color: var(--color-title);
    font-size: 24px;
    line-height: 3.33;
    text-align: center;
    margin-bottom: 49px;
}

.section-pricing-title {
    color: var(--color-button);
    font-size: 18px;
    line-height: 1.55;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 17px;
}

.section-pricing-text {
    font-size: 13px;
    text-align: center;
    margin-bottom: 33px;
}

.section-pricing-button {
    max-width: 170px;
    width: 100%;
    min-height: 37px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    background-color: var(--color-shadow-button);
    color: var(--color-text-button);
    border: none;
    padding: 7px 12px 9px 12px;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.section-pricing-button-price {
    color: var(--color-button);
    font-size: 18px;
    margin-right: 8px;
}

.section-pricing-txt {
    padding-top: 3px;
}

.section-contact {
    margin-top: 72px;
    margin-bottom: 55px;
}

.section-contact-title {
    color: var(--color-title);
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 3.33;
    margin-bottom: 38px;
}

.section-contact-txt {
    text-align: center;
    font-size: 14px;
    margin-bottom: 31px;
}

.section-contact-input {
    min-width: 265px;
    display: block;
    margin: 0 auto;
    color: var(--color-priority);
    font-family: Poppins, sans-serif;
    font-size: 12px;
    padding: 16px 0px 16px 26px;
    text-transform: capitalize;
    border-radius: 5px;
    border: 1px solid #8F95A5;
    margin-bottom: 17px;
}

.section-contact-button {
    min-width: 290px;
    min-height: 60px;
    display: block;
    margin: 0 auto;
    font-size: 14px;
}

.footer-line {
    border: none;
    background-color: var(--color-line);
    color: var(--color-line);
    height: 1px;
    margin-bottom: 26px;
}

.footer-main-link {
    text-align: center;
    display: block;
    margin-bottom: 15px;
}

.footer-list {
    justify-content: center;
}

.footer-link{
    color: var(--color-priority);
    font-size: 11px;
    font-weight: 500;
}