:root {
    --color-title: #000000;
    --color-logo: #939393;

}

.header-link {
    text-decoration: none;
    color: var(--color-title);
}

.header-span {
    color: var(--color-logo);
}

.header-svg {
    width: 33.53px;
    height: 19px;
}